@import 'colors.less';

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: @clouds !important;
}

header {
  color: @pomegranate;
  font-family: Raleway, HelveticaNeue-Light, Arial, sans-serif;
  font-size: 3.0em;
  font-weight: bold;
  margin-bottom: 96px;
  padding: 0 24px;
  text-align: center;
}

section {
  position: relative;
  display: block;
  width: 100%;
}

.container {
  text-align: center;
}

.spacer {
  border-color: @silver;
}

.ju-badge {
  left: 50%;
  width: 256px;
  height: 256px;
  position: absolute;
  margin-left: -128px;
  font-size: 128px;
  color: @clouds;
}

@success-color: @emerald;
@problem-color: @alizarin;
@unknown-color: @amethyst;

.ju-success {
  color: @success-color;
}

.ju-success-bg {
  background-color: @success-color !important;
}

.ju-success-light-bg {
  background-color: lighten(@success-color, 30%) !important;
}

.ju-problem {
  color: @problem-color;
}

.ju-problem-bg {
  background-color: @problem-color !important;
}

.ju-problem-light-bg {
  background-color: lighten(@problem-color, 30%) !important;
}

.ju-unknown {
  color: @unknown-color;
}

.ju-unknown-bg {
  background-color: @unknown-color !important;
}

.ju-unknown-light-bg {
  background-color: lighten(@unknown-color, 30%) !important;
}
