{% extends "junit_reporting/base.html" %}

{% block content %}
<section>
  <div class="container">
    {% if not object_list %}
    <p>
      <div class="alert alert-info" role="alert">
        <strong>Hey There!</strong> Sadly, there are currently no projects registered. Please contact your site administrator
        to request a project.
      </div>
    </p>
    {% else %}
    <p>
      <div class="list-group">
        {% for project in object_list %}
        <a class="list-group-item ju-{{ project.status }}-light-bg" href="{{ project.get_absolute_url }}">
          {% if project.status == "success" %}
          <i class="fa fa-check fa-fw" aria-hidden="true"></i>
          {% elif project.status == "problem" %}
          <i class="fa fa-times fa-fw" aria-hidden="true"></i>
          {% else %}
          <i class="fa fa-question fa-fw" aria-hidden="true"></i>
          {% endif %}
          &nbsp; {{ project.name }}
        </a>
        {% endfor %}
      </div>
    </p>
    {% endif %}
  </div>
</section>
{% endblock %}
